<div style='width: 100%;text-align: center;' class='container' id='main'>
    
    <div class="row">

        <div id='uneaten-burgers' class='col-md-6 col-sm-12'>
            <h2>Ready to eat:</h2>
            <hr>
            {{#each burgers}}
                {{#unless devoured }}
                    <p id='burger-{{ id }}-container'>
                        <span id='burger-{{ id }}-name' >{{ burger_name }}</span>
                        <button class='eat-burger-btn btn btn-success' data-id="{{ id }}" >Eat!</button>
                    </p>
                    
                {{/unless}}
            {{/each}}
        </div>

        <div id='eaten-burgers' class='col-md-6 col-sm-12'>
            <h2>Devoured:</h2>
            <hr>
            {{#each burgers}}
                {{#if devoured}}
                    <p>
                        {{ burger_name }}
                        <button class='remove-burger-btn btn btn-danger' data-id="{{ id }}">Remove</button>
                    </p>
                {{/if}}
            {{/each}}
        </div>
    </div>

    <form id='submit-order-form' style='width: 50%;margin: 0 auto;'>
        <div class="input-group mb-3" style='margin-top: 30px;' >
            <input type="text" id='new-burger-input' class="form-control" placeholder="Enter your burger here!" aria-label="Enter your burger here!" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="submit-order-btn">Add!</button>
            </div>
        </div>
    </form>

    {{!-- <input type='text' id='new-burger-input' placeholder='Enter your burger here!'>
    <button id='submit-order'>Add!</button> --}}
</div>

<div style='width: 100%;text-align: center;'>
    <img src='/assets/images/burger.jpg' class='burger-logo'>

</div>